.hero-title {
  font-size: 2.2rem;
  font-weight: 600;
}

.highlight {
  padding: 2px 6px;
  border-radius: 4px;
}

@media (min-width: 7px) {
  .hero-title {
    font-size: 3rem;
  }
}

.appointment-btn:hover {
  background-color: rgb(255, 214, 214);
}

.hero-section {
  background-image: url('../../assets/MomWithBaby.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.curve-shape {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  line-height: 0;
   transform: translateY(70px);
}

