.infertility-reasons-section{
  background-color: #ffffff;
  padding-left: 10%;
}

.reason-title {
  display: inline-block;
  border-bottom: 3px solid #fa6565;
  padding-bottom: 15px;
  margin-bottom: 8px;
}

.reason-badge {
  position: absolute;
  top: 20px;
  left: -30px;
  background-color: rgb(252, 223, 223);
  color: #aa0808;
  font-weight: 550;
  padding: 10px 17px;
  border-radius: 50%;
  border: white 5px solid;
  font-size: 2.2rem;
}
.reason-badge1 {
  position: absolute;
  top: 20px;
  right: 110px;
  background-color: rgb(252, 223, 223);
  color: #aa0808;
  font-weight:550;
  padding: 10px 17px;
  border-radius: 50%;
  border: white 5px solid;
  font-size: 2.2rem;
}

.reason-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 16px;
}

.struggle-text {
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .reason-badge,
  .reason-badge1 {
    top: -20px !important;
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%);
  }

  .reason-image {
    margin-top: 30px;
  }
}