.bg {
  background-color: rgb(255, 247, 247);
  position: relative;
  overflow: hidden;
}
.friend {
  font-weight: 450;
  font-size: 1.1rem;
}

.text {
  color: #aa0808;
}
.text-muted {
  color: #92989e !important;
}
.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}