.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
  color: #3cd2ff;
}

.footer-icon {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.google, .apple {
  width: 85%;
}
.text-center {
  margin-bottom: 1.5rem !important;
}
.logo {
  height: 50%;
  margin-left: 10%;
}
.title {
  font-weight: 700 !important;
}
.links li {
  margin-bottom: 7px !important;
}
